In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression

In [16]:
train_data =pd.read_csv('train.csv')
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [17]:
test_data=pd.read_csv('test.csv')
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [21]:
train_data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [22]:
train_data.shape

(1460, 81)

In [9]:
X_train = train_data[['GrLivArea', 'BedroomAbvGr', 'FullBath']]
y_train = train_data['SalePrice']

In [25]:
X_train.head()

   GrLivArea  BedroomAbvGr  FullBath
0       1710             3         2
1       1262             3         2
2       1786             3         2
3       1717             3         1
4       2198             4         2

In [28]:
y_train.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [29]:
model = LinearRegression()

In [31]:
model.fit(X_train, y_train)
model

LinearRegression()

In [32]:
model.predict([[1710,3,2]])

C:\Users\Anshu kanukula\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([211526.41442352])

In [33]:
model.predict([[1262,3,2]])

C:\Users\Anshu kanukula\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([162218.76100172])

In [34]:
X_test = test_data[['GrLivArea', 'BedroomAbvGr', 'FullBath']]

In [35]:
X_test.head()

   GrLivArea  BedroomAbvGr  FullBath
0        896             2         1
1       1329             3         1
2       1629             3         2
3       1604             3         2
4       1280             2         2

In [13]:
predicted_prices = model.predict(X_test)

In [14]:
predicted_prices

array([120100.81297664, 139898.20827909, 202611.4145861 , ...,
       100482.39478483, 100386.04850582, 243444.31507603])

In [38]:
train_predictions=model.predict(X_train)

In [42]:
from sklearn.metrics import mean_squared_error
train_rmse = mean_squared_error(y_train, train_predictions, squared=False)

In [45]:
train_rmse

51269.241808499355

In [48]:
submission_data = pd.DataFrame({
    'Id': test_data['Id'],
    'SalePrice': predicted_prices
})
submission_data.head

<bound method NDFrame.head of         Id      SalePrice
0     1461  120100.812977
1     1462  139898.208279
2     1463  202611.414586
3     1464  199859.871426
4     1465  192059.204300
...    ...            ...
1454  2915  113813.579125
1455  2916  113813.579125
1456  2917  100482.394785
1457  2918  100386.048506
1458  2919  243444.315076

[1459 rows x 2 columns]>

In [49]:
submission_data.to_csv('submission.csv', index=False)